<div class="max-w-md mx-auto mt-6 bg-white p-6 rounded-lg shadow-md relative">
  <input
    type="text"
    placeholder="Zoek lied"
    [(ngModel)]="selectedSong"
    class="w-full p-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500"
    (input)="onSearch($event)"
  />
  <ul *ngIf="results && results.length > 0"
      class="absolute w-full bg-white border border-gray-300 rounded-lg shadow-md max-h-60 overflow-auto z-10 mt-1">
    <li *ngFor="let result of results"
        (click)="selectSong(result.title)"
        class="p-2 cursor-pointer hover:bg-blue-100 transition duration-200"
    >
      {{ result.title }}
    </li>
  </ul>
</div>
