<nav class="bg-blue-600 p-4">
  <ul class="flex space-x-4">
    <li>
      <a routerLink="/" routerLinkActive="active" class="text-white hover:text-gray-200 cursor-pointer">Home</a>
    </li>
    <li>
    <a routerLink="/select-songs" routerLinkActive="active" class="text-white hover:text-gray-200 cursor-pointer">Kies liederen</a>
    </li>
    <li>
      <button
        *ngIf="authService.isAuthenticated()"
        (click)="logout()"
        class="bg-red-500 text-white py-2 px-4 rounded hover:bg-red-600"
      >
        Uitloggen
      </button>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>
