<nav class="bg-blue-600 p-4">
  <ul class="flex space-x-4">
    <li>
      <a routerLink="/" routerLinkActive="active" class="text-white hover:text-gray-200 cursor-pointer">Home</a>
    </li>
<!--    <li>-->
<!--    <a routerLink="/select-songs" routerLinkActive="active" class="text-white hover:text-gray-200 cursor-pointer">Kies liederen</a>-->
<!--    </li>-->
    <li>
      <button
        *ngIf="authService.isAuthenticated()"
        (click)="logout()"
        class="bg-red-500 text-white py-2 px-4 rounded hover:bg-red-600"
      >
        Uitloggen
      </button>
    </li>
  </ul>
</nav>
<div class="max-w-lg mx-auto bg-white p-6 rounded-lg shadow-md">
  <h2 class="text-2xl font-semibold mb-4">Beschikbare Datums</h2>

  <ul class="list-none">
    <li *ngFor="let date of availableDates" class="mb-2">
      <a
        [routerLink]="['/select-songs', date]"
        class="text-blue-500 hover:underline"
      >
        {{ date }}
      </a>
    </li>
  </ul>
</div>
<router-outlet></router-outlet>
